.SideBarPannel {
  background-color: white;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  padding-top: 20px;
  transition: transform .2s ease;
}
.SideBarPannel a {
  color: gray;
  text-decoration: none;
  padding: 20px 20px;
  border: 2px solid rgba(214, 9, 255, 0.363);
  border-radius: 25px;
  font-size: 17px;
}
#HomePageLinkActive {
  background-color: rgba(234, 74, 255, 0.13);
}
.bottomPannel {
  transition: transform .5s ease;
  bottom: 0;
  background-color: white;
  height: 70px;
  width: 500px;
  border-radius: 40px;
  margin-bottom: 30px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.bottomPannel a {
  text-decoration: none;

}
body {
  display: flex;
  flex-direction: column;
}
#main {
  /* This is to make the body aside from the sidebar */
  background-color: blanchedalmond;
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: margin .2s ease;
}
#streakButton {
  height: 300px;
  width: 300px;
  /* The transition is still getting caught with the other and extending to far insde the side bar */
  border-radius: 150px;
  background-image: url(1f525.webp);
  background-size: cover;
  background-color: rgb(218, 41, 41);
  font-size: 40px;
  font-weight: bold;
  border: 1px solid black;
  transition: transform .2s ease;
}
#streakButton:active {
  transform: translateY(3px)
}

@media (max-width: 750px) {
  .SideBarPannel {
    transform: translateX(-110%);
  }
  #main {
    margin-left: 0;
  }
  #streakButton {
    transform: scale(.9);
  }
}

@media (min-width: 750px) {
  .bottomPannel {
    transform: translateY(200%);
    /* Transition down */
  }
}