.SideBarPannel {
  background-color: white;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  padding-top: 20px;
  transition: transform .2s ease;
}
.SideBarPannel a {
  color: gray;
  text-decoration: none;
  padding: 20px 20px;
  border: 2px solid rgba(214, 9, 255, 0.363);
  border-radius: 25px;
  font-size: 17px;
}
#HomePageLinkActive {
  background-color: rgba(234, 74, 255, 0.13);
}
.bottomPannel {
  transition: transform .5s ease;
  bottom: 0;
  background-color: white;
  height: 70px;
  width: 500px;
  border-radius: 40px;
  margin-bottom: 30px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.bottomPannel a {
  text-decoration: none;

}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
#main {
  /* This is to make the body aside from the sidebar */
  background: radial-gradient(circle at top, #1b2735, #090a0f);
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: margin .2s ease;
}
#streakButton {
  height: 300px;
  width: 300px;
  /* The transition is still getting caught with the other and extending to far insde the side bar */
  border-radius: 150px;
  background-image: url(1f525.webp);
  background-size: cover;
  background-color: rgb(218, 41, 41);
  font-size: 40px;
  font-weight: bold;
  border: 1px solid black;
  transition: transform .2s ease;
}
#streakButton:active {
  transform: translateY(3px)
}
.buttonContainer{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}
.buttonContainer button {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background-color: red;
  color: white;
}

.container4 {
  border: 2px solid white;
  border-radius: 20px;
}

.container5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  padding: 15px;
}

.bottomRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
  gap: 20px;
  margin: 10px;
}

@media (max-width: 750px) {
  .SideBarPannel {
    transform: translateX(-110%);
  }
  #main {
    margin-left: 0;
  }
  #streakButton {
    transform: scale(.9);
  }
}

@media (min-width: 750px) {
  .bottomPannel {
    transform: translateY(200%);
    /* Transition down */
  }
}